@import "tailwindcss";

@theme {
  --color-primary: #E62058; /* red*/
  --color-dark: #777;
  --color-background: #E7E7E7; 
} 


@layer base {
  * {
    font-family: "Roboto", sans-serif;
    margin: 0;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    overflow-x: hidden;
    box-sizing: border-box;
  }

  button {
    cursor: pointer;
  }

  p {
    line-height: 1.5;
    font-size: 1rem;
  }
}

.marquee-track {
    animation: marquee 25s linear infinite;
}

@keyframes marquee {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50%);
    }
}
