@import "tailwindcss";

@theme {
  --color-primary: #E62058; /* red*/
  --color-dark: #777;
  --color-background: #E7E7E7; 
} 


@layer base {
  * {
    font-family: "Roboto", sans-serif;
    margin: 0;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    overflow-x: hidden;
    box-sizing: border-box;
  }

  button {
    cursor: pointer;
  }

  p {
    line-height: 1.5;
    font-size: 1rem;
  }
}

.marquee-track {
    animation: marquee 25s linear infinite;
}

.image-marquee {
    animation: marquee 30s linear infinite;
}

@keyframes marquee {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50%);
    }
}

/* .loading-bar {
    width: 50%;
    height: 100%;
    background-color: rgb(7, 23, 229);
    position: absolute;
    top: 0;
    left: -50%;
    animation: loadingAnimation 2s infinite;
} */


@keyframes loadingAnimation {
    0% {
        left: -35%;
        right: 100%;
    }

    60% {
        left: 100%;
        right: -90%;
    }

    100% {
        left: 100%;
        right: -90%;
    }
}